<div class="is-flex is-justify-content-center">
  <section class="panel is-primary vw-75">
    <h2 class="panel-heading">Forgot your password?</h2>

    <div data-turbo="false">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), local: false) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="panel-block">
          <div class="control">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "input your email" %>
          </div>
        </div>

        <div class="panel-block">
          <div class="control is-flex is-justify-content-center">
            <%= f.submit "Send me reset password instructions", class: "button" %>
          </div>
        </div>
      <% end %>

      <div class="panel-block is-flex is-justify-content-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </section>
</div>
