<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<%= search_form_for @q do |f| %>
  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= f.search_field :name_or_content_cont, class: "input is-info" %>
    </div>

    <div class="control">
      <div class="select">
        <%= f.collection_select :category_id_eq, @categories, :id, :name, {data: {local: true}}, { onchange: 'this.form.submit()'} %>
      </div>
    </div>

    <div class="control">
      <%= f.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>


<%= link_to 'New Room', new_room_path %>

<%= turbo_frame_tag "rooms", class: "columns is-flex is-flex-wrap-wrap is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd" do %>
  <%= render @rooms %>
  <%= turbo_stream_from :rooms %>
<% end %>
