<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<section class="columns is-flex is-flex-wrap-wrap is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
  <% @rooms.each do |room| %>
  <div class="column is-4">
    <div class="card">
      <div class="card-content">
          <div class="media">
              <div class="media-left">
                  <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  </figure>
              </div>
              <div class="media-content">
                  <p class="title is-4"><%= room.name %></p>
                  <p class="subtitle is-6">@johnsmith</p>
              </div>
          </div>

          <div class="content">
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <%= link_to 'Show', room %>
              <%= link_to 'Edit', edit_room_path(room) %>
              <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
      </div>
    </div>
  </div>
  <% end %>
</section>

<%= turbo_frame_tag "new_room" do %>
  <%= link_to 'New Room', new_room_path %>
<% end %>
