<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<%= turbo_stream_from :rooms %>

<%= turbo_frame_tag "rooms" do %>
  <section class="columns is-flex is-flex-wrap-wrap is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
      <%= render @rooms %>
  </section>
<% end %>

<%= turbo_frame_tag "new_room" do %>
  <%= link_to 'New Room', new_room_path %>
<% end %>
