<p id="notice"><%= notice %></p>

<%= turbo_stream_from @room %>

<article class="media" id="<%= dom_id @room %>">
  <figure class="media-left">
    <p class="image is-48x48">
      <% if @room.user.icon.attached? %>
        <%= image_tag @room.user.icon %>
      <% else %>
        <img src="https://bulma.io/images/placeholders/96x96.png">
      <% end %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= @room.user.name %></strong>
        <%= @room.content %>
      </p>
    </div>
  </div>
</article>

<% if @room.user == current_user %>
  <%= link_to 'Edit', edit_room_path(@room) %> |
  <%= link_to 'Back', rooms_path %>
<% end %>

<hr>

<div id="messages" class="container">
  <%= render @room.messages %>
</div>

<div class="container m-3">
  <%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
</div>
